* {
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
}

body {
    background: url('https://wallpaperaccess.com/full/560134.jpg');
}
.outer-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}
.button-container {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lexicon-container {
    width: 15%;
    height: 100vh;
    background-color: rgb(0, 55, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    overflow: scroll;
    box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
        /* inner left magenta short */ inset -20px 0 80px #0ff,
        /* inner right cyan short */ inset 20px 0 300px #f0f,
        /* inner left magenta broad */ inset -20px 0 300px #0ff,
        /* inner right cyan broad */ 0 0 50px #fff,
        /* outer white */ -10px 0 80px #f0f,
        /* outer left magenta */ 10px 0 80px #0ff; /* outer right cyan */
}
.title {
    margin: 40px;
    height: 60px;
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
        0 0 42px rgb(0, 255, 26), 0 0 82px rgb(0, 255, 42),
        0 0 92px rgb(0, 255, 30), 0 0 102px rgb(0, 255, 47),
        0 0 151px rgb(0, 255, 4);
    font-family: 'Orbitron', sans-serif;
}

.table {
    margin: auto;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: column;
}

.board-rows {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.board-columns {
    display: flex;
    width: 100%;
    height: 100%;
    border: solid 0.1px white;
    background-color: transparent;
}

.living {
    background-color: white;
    box-shadow: inset 0 0 50px #fff, /* inner white */ inset 20px 0 80px #f0f,
        /* inner left magenta short */ inset -20px 0 80px #0ff,
        /* inner right cyan short */ inset 20px 0 300px #f0f,
        /* inner left magenta broad */ inset -20px 0 300px #0ff,
        /* inner right cyan broad */ 0 0 50px #fff,
        /* outer white */ -10px 0 80px #f0f,
        /* outer left magenta */ 10px 0 80px #0ff;
}

.library__gallery-image {
    width: 200px;
    height: 200px;
}
.library__gallery-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.library__gallery-title {
    font-size: 20px;
}
.lexicon-title {
    margin-bottom: 10px;
    color: black;
}
.controls__play {
    background-color: transparent;
    border: none;
    font-size: 50px;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
        0 0 42px rgb(0, 123, 255), 0 0 82px rgb(0, 162, 255),
        0 0 92px rgb(0, 115, 255), 0 0 102px rgb(0, 162, 255),
        0 0 151px rgb(0, 140, 255);
    margin-bottom: 100px;
}
.controls__random {
    background-color: transparent;
    font-size: 50px;
    border: none;
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
        0 0 42px rgb(255, 0, 26), 0 0 82px rgb(255, 0, 35),
        0 0 92px rgb(255, 0, 0), 0 0 102px rgb(255, 0, 0),
        0 0 151px rgb(255, 0, 46);
}
